.queue-frame {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  gap: 10px;
  flex-shrink: 0;
  box-sizing: border-box;
  user-select: none;
  border-radius: 10px;
}

.queue-previous-frame {
  display: flex;
  flex-direction: column;
}

.queue-text {
  font-size: 1.3rem;
  padding: 10px;
}

.track-list {
  flex: 1;
  flex-shrink: 0;
  flex-direction: column;
  background-color: var(--background-color-dark);
  box-sizing: border-box;
  justify-content: flex-start;
  overflow: auto;
}

.track-list::-webkit-scrollbar {
  width: 8px; 
}

.track-list::-webkit-scrollbar-track {
  background: transparent; 
  border-radius: 10px;
}

.track-list::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.track-list::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.track-list::-webkit-scrollbar-button {
  display: none; 
}

.track-list::after {
  content: "";
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  left: 10px;
  right: 10px;
  height: 20px;
  background: linear-gradient(to bottom, rgba(25, 28, 28, 0), #191c1c);
  pointer-events: none;
  border-radius: inherit;
}

.cdk-drag-preview {
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
}

.track-container:last-child {
  border: none;
}

.track-list.cdk-drop-list-dragging .track-container:not(.cdk-drag-placeholder) {
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
}
