<div class="queue-frame">
  <ng-container *ngIf="previousTrack as track">
    <div class="queue-previous-frame">
      <div class="queue-text">Previous track</div>
      <app-track-container
        [track]="track"
        (click)="playPrevious()"
      ></app-track-container>
    </div>
  </ng-container>


  <div class="queue-text">Fila</div>
  <ng-container *ngIf="tracks && tracks.length; else noTracks">
    <div cdkDropList class="track-list" (cdkDropListDropped)="drop($event)">
      <div *ngFor="let track of tracks; let i = index" cdkDrag>
        <app-track-container
          [track]="track"
          (click)="playTrack(i)"
        ></app-track-container>
      </div>
    </div>
  </ng-container>

  <!-- Render placeholder if no tracks -->
  <ng-template #noTracks>
  </ng-template>
</div>
