.main-frame {
  display: grid;
  grid-template-rows: 91% auto;
  grid-template-areas: "main" "player-preview";
  height: 100%;
  width: 100%;
  background-color: black;
  overflow: hidden;
  scrollbar-width: none;
}

.example-container {
  grid-area: main;
  width: 100%;
  height: 100%;
}

.main-grid-layout {
  width: 100%;
  height: 100%;
    overflow: hidden;
  scrollbar-width: none;
  // max-height: 98vh;
}

.example-sidenav {
  background: black;
  border-radius: 0;
  width: 125px;
  padding: 10px 0px 0px 10px;
  box-sizing: border-box;
}

.player-preview {
  grid-area: player-preview;
  width: 100%;
  height: 100%;
    overflow: auto;
  scrollbar-width: none;
}
