.main-frame-content {
  display: grid;
  grid-template-rows: 5% 1fr;
  grid-template-columns: 80% 1fr;
  grid-template-areas:
    "header header"
    "player queue";
  height: 100%;
  width: 100%;
  background-color: #0A0A0A;
}

.header-content {
  grid-area: header;
  display: flex;
  background-color: var(--background-color-dark);
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0px 10px 0px 10px;
  border-radius: 10px;
}

.player-content {
  grid-area: player;
  display: flex;
    align-items: stretch; 
  justify-content: stretch; 
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding:  10px 0px 0px 10px;
  border-radius: 10px;
}

.queue-content {
  position:relative;
  display: flex;
  grid-area: queue;
  max-height: 100%;
  overflow-y: scroll;
  align-items: stretch;
  scrollbar-width: none;
  border-radius: 10px;
  padding: 10px 10px 0px 10px;
}

.player-content > *,
.queue-content > * {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
