<div class="main-frame-content">
  <div class="header-content">
    <p>TOMA</p>
  </div>

  <div class="player-content">
    <ng-container
      *ngIf="current && (guild$ | async) as guild; else emptyPlayer"
    >
      <app-player
        [url]="current.track.info.uri"
        [guildID]="guild.id"
        [time]="current.time"
        [paused]="current.track.time"
        [source]="current.source"
      ></app-player>
    </ng-container>
    <ng-template #emptyPlayer>
      <p>No player available</p>
    </ng-template>
  </div>

  <div class="queue-content">
    <ng-container *ngIf="tracks; else emptyQueue">
      <!-- <div *ngFor="let track of tracks">
        {{ track.info.title }}
      </div> -->
    </ng-container>
    <ng-template #emptyQueue>
      <p>No tracks available</p>
    </ng-template>
  </div>
</div>
